# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiNDhmOWM4Y2UtZDIyOS00ZTZkLWIzMDAtZTE4YzM4ZGRkOTNjIiwidGVuYW50X2lkIjoiMDUyNDlkYzNkM2NmNjk5ZWVhMTQ2NTkwYzZmMzJlODIzMGI2YzljMWI5YWU5ZmMzOWJiYTEyN2QzZDk1MmMwMiIsImludGVybmFsX3NlY3JldCI6ImRmMDk2Mjk2LWIyYmQtNDViYy1iNGYyLTE3ZmE3ZjY2MTJjMCJ9.dhoaMH9a-C0HlovOpDwkGdILB5ug3isUIAva0orSRmM"
NEXTAUTH_SECRET="your-secure-secret"
CLOUDINARY_URL="cloudinary://267428251334864:uWadj6uef4XZGUXxi7whMSKHFaQ@dtbk6m3ig"
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="dtbk6m3ig"
NEXT_PUBLIC_CLOUDINARY_API_KEY="267428251334864"
CLOUDINARY_API_SECRET="uWadj6uef4XZGUXxi7whMSKHFaQ"
NEXT_PUBLIC_UPLOAD_PRESET="ml_default"